{% extends "base.html" %}

{% block content %}
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Region</th>
        <th>Category</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      
      <tr>
        <td>{{book.pk}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>{{book.region}}</td>
        <td>{{book.category}}</td>
        <td>{{book.year}}</td>
      </tr>
      
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}


